%div.container
  %div.header
    %h1.text-center Hippo Haus

  %div.row.middle-body
    .col-md-3
    .col-md-6
      %h1.text-center New request

      = render 'form'

      = link_to 'Back', requests_path
