%div.container
  %div.header
    %h1.text-center LOGO HERE
  %div.row.middle-body
    .col-md-6
      %img(src="https://d13yacurqjgara.cloudfront.net/users/63485/screenshots/489021/dribbble_shot3.gif")
    .col-md-6
      %h1 New request

      = render 'form'

      = link_to 'Back', requests_path
