.container
  %div.header
    %h1.text-center LOGO HERE
  .middle-body
    .row
      %p#notice= notice 
    .row
      .col-md-6
        %h3 In #{@request.language}, '#{@request.body}' will be:

        .speech-bubble
          %p Blah blah blah

      .col-md-6
        %img#hippo(src="https://d13yacurqjgara.cloudfront.net/users/63485/screenshots/489021/dribbble_shot3.gif")

    = link_to 'Back', root_path
