<!DOCTYPE html>
<html>
<head>
  <title>HackTheDot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https:///g///gmaxcdn.bootstrapcdn.com///gbootstrap///g3.3.5///gcss///gbootstrap.min.css" integrity="sha512-dTfge///gzgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz///gixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
